body {
    background-color: #E1E5F8;
}

.container {
    height: 600px;
    width: 470px;
    background-color: #ECF2FF;
    text-align: center;
    padding: 50px;
    margin-top: 0.6250em;
    box-shadow: inset 0 0 1rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 10%;
}

.alert {
    height: 5em;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1.875em;
}

.btn {
    height: 60px;
    width: 60px;
}

.row-button {
    padding: 0.625em 1.23em;
}

.input-group {
    margin-bottom: 20px;
}

.form-control {
    height: 70px;
    text-align: right;
    font-size: 40px;
    border: 1px solid #3A98B9;
    border-radius: 5px;
    font-weight: 500px;
}

@media (max-width:500px) {
    .container {
        margin-top: 80px;
        height: 570px;
        width: 370px;
    }
    .row-button {
        padding: 0.625em 0.4em;
    }
}
