body {
    /* background-color: black; */
    background-image: linear-gradient( to right, #141e30, #243b55);
    font-family: 'montserrat';
}

.container-fluid {
    padding-top: 2%;
    padding-left: 7%;
    /* padding-right: 1%; */
}

.navbar {
    padding: 0 0 4.5rem;
    transition: 0.3s all ease-in-out;
}

a {
    position: relative;
}

a:after {
    content: "";
    position: absolute;
    background-color: #F9F54B;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}

a:hover {
    color: #fff;
    transform: scale(1.15);
}

a:hover:after {
    width: 100%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
    /* padding-left: 18px;
    padding-right: 18px; */
}

.nav-link {
    font-size: 1.5rem;
    /* font-family: "Montserrat-Light"; */
    font-family: 'Roboto', sans-serif;
}

span {
    /* color: #fff724; */
    color: #F9F54B;
}

h1 {
    color: white;
    text-align: center;
    font-size: 10vh;
}

p {
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    padding-top: 25px;
    color: white;
    text-align: center;
    font-size: 1.8rem;
    text-align: center;
}

.container {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

.bg-img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

@media (max-width:500px) {
    .navbar-collapse {
        padding-top: 30px;
        text-align: center;
        padding-bottom: 10px;
    }
    h1 {
        font-size: 3.2em;
        position: fixed;
        padding-left: 25px;
    }
    .auto-type {
        position: absolute;
        display: block;
        padding-top: 5px;
        padding-left: 35px;
    }
    p {
        font-size: 1.4em;
        position: relative;
        padding-top: 170px
    }
    .container-fluid {
        padding-top: 20px;
    }
}